dist: xenial
language: python
python:
  - 3.6
  - 3.7
install:
  - pip install -q torch
  - pip install -r requirements-test.txt
  - pip install -e .
script: pytest
after_success:
  - pip install coveralls
  - coveralls
